.single-product-container {
	padding: 4% 18%;
	/* display: flex; */
}

.left-single-product-container {
	display: flex;
	flex-direction: column;
}

.left-single-product-container img {
	height: 400px;
}
.lr-single-product-container {
	display: flex;
	justify-content: space-around;
}
.right-single-product-container {
	margin-left: 20px;
	display: flex;
}

hr.hr {
	height: 0.5px;
}

.green {
	color: #5db939;
	font-weight: 500;
}
.red {
	color: red;
	font-weight: 500;
}

.list-group-item {
	font-weight: 500;
	font-size: 18px;
    display: flex;
    justify-content: center;
}
.list-group-item .btn {
	width: -webkit-fill-available;
}


.qty-container.list-group-item{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.qty-container .qty-select{
    width: 20%;
    margin-left: 10px;
}
.single-product-details .list-group-item{
    justify-content: center;
    align-items: center;
}

.big-container-details{
    display: flex;
    flex-direction: column;
}
.btn-holder{
    margin-top: 10px;
}